.nav-bar{
    display: flex;
    align-items: center;
    padding: 0px 5%;
    background: rgba(0,220,130);
}
.img{
    width: 100px;
}
.nav--logo{
    flex:1
}
.nav--text{
    font-size: 24px;
    padding-right: 10px;
    
}